*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-family: sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
}

nav{
    height: 80px;
}

nav ul{
    display: flex;
    gap: 50px;
    justify-content: right;
    padding: 20px 40px;
}


span{
    padding: 5px 10px;
    border-radius: 50px;
    background: rgba(255, 100, 100, 1);
    color: #fff;
}

p{
    font-size: 19px;
}

/* showcase */

.showcase{
    padding-bottom: 100px;
}

.showcase img{
   width: 100%;
   height: 80vh;
}

section img{
     width: 100%;
     height: 80vh;
}

/* flex1 */

.flex1{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

/* button */

form button:hover{
    padding: 10px 30px;
    background: #fff;
    color: rgba(255, 100, 100, 1);
    border: 1px solid rgba(255, 100, 100, 1);
}

form button{
    padding: 10px 30px;
    background: rgba(255, 100, 100, 1);
    color: #fff;
    border: none;
}

/* flex2 */

.blue{
   background:  #EDF7FA;
   padding: 30px 40px;
}

.flex2{
    display: flex;
    justify-content: space-around;
}

.flex2 div {
    background: #fff;
    padding: 20px 30px;
}

.arround{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}


.gray{
    color: gray;
}

/* cards */

.card{
    display: flex;
    padding: 20px 0;
    gap: 50px;
}







/* footer */

.links{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.links i {
    font-size: 30px;
}

footer{
    padding-top: 100px;
}

.footer{
    text-align: center;
    font-size: 15px;
    padding-bottom: 50px;
}


/* bar */

label{
    display: flex;
    justify-content: right;
    display: none;
}

input{
    display: none;
}


.current{
    color: rgba(255, 100, 100, 1);
}








/* planshet */

@media(max-width:1000px){

    label{
        display: block;
        display: flex;
        justify-content: right;
    }

     ul{
        position: fixed;
        right: -100%;
        transition: 0.9s;
     }


    #check:checked + ul{
         right: 0;
    }

    .flex1{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .flex1-text{
        order: 2;
    }

    .flex1-img{
        order: 1;
    }

    .flex2{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .card{
        display: flex;
        flex-direction: column;
    }
   
}